[defaults]
inventory = ./inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
remote_user = ubuntu
private_key_file = /home/shaizo/.ssh/docker_platform
deprecation_warnings = False
timeout = 30

[inventory]
enable_plugins = yaml, ini

[ssh_connection]
ssh_args = -F /home/shaizo/.ssh/config
pipelining = True
